<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <appender name="ROLLIN" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_FILE}.log</file>
    <encoder>
      <pattern>${FILE_LOG_PATTERN}</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.log</fileNamePattern>
    </rollingPolicy>
  </appender>

  <appender name="ROLLIN_BATCH" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_FILE}_batch.log</file>
    <encoder>
      <pattern>${FILE_LOG_PATTERN}</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>${LOG_FILE}_batch.%d{yyyy-MM-dd}.log</fileNamePattern>
    </rollingPolicy>
  </appender>

  <!--<appender name="STACK_DRIVER"-->
    <!--class="online.gettrained.backend.logger.stackdriver.StackDriverLoggingAppender">-->
    <!--<log>local-test</log>-->
    <!--<enhancer>online.gettrained.backend.logger.stackdriver.StackDriverLoggingEnhancer</enhancer>-->
    <!--<pathToJsonKeyCredential>${STACK_DRIVER_PATH_TO_JSON_KEY_CREDENTIAL}</pathToJsonKeyCredential>-->
  <!--</appender>-->

  <logger name="org.springframework.batch" level="info" additivity="false">
    <appender-ref ref="ROLLIN_BATCH"/>
  </logger>

  <logger name="online.gettrained.batch" level="debug" additivity="false">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="ROLLIN_BATCH"/>
  </logger>

  <logger name="org.hibernate.tool" level="debug" additivity="false">
    <appender-ref ref="ROLLIN"/>
  </logger>
  <logger name="org.hibernate.SQL" level="debug" additivity="false">
    <appender-ref ref="ROLLIN"/>
  </logger>
  <!--<logger name="org.hibernate.type" level="trace" additivity="false">-->
  <!--<appender-ref ref="ROLLIN"/>-->
  <!--</logger>-->
  <logger name="online.gettrained.backend" level="debug" additivity="false">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="ROLLIN"/>
  </logger>
  <logger name="online.gettrained.frontend" level="debug" additivity="false">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="ROLLIN"/>
  </logger>

  <root level="info">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="ROLLIN"/>
    <!--<appender-ref ref="STACK_DRIVER"/>-->
  </root>
</configuration>
